<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087922621257-8jo9ghf97tni27m33ve4t1ro7g0cphbc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087922621257-8jo9ghf97tni27m33ve4t1ro7g0cphbc</string>
	<key>API_KEY</key>
	<string>AIzaSyAsXxeI4G41jt0spVlEfPAyMR1jR0Lg00A</string>
	<key>GCM_SENDER_ID</key>
	<string>1087922621257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thomasviana.mofi.uat</string>
	<key>PROJECT_ID</key>
	<string>mofi-flutter-uat-ad6b8</string>
	<key>STORAGE_BUCKET</key>
	<string>mofi-flutter-uat-ad6b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087922621257:ios:1b3e3017641a6984006898</string>
</dict>
</plist>