<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970340898687-kmphbbje1ub4dat423l408nvrvfc5hrn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970340898687-kmphbbje1ub4dat423l408nvrvfc5hrn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>970340898687-acl11cq5mir3gde78id7qu3hnoi38ofr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBRXUGVT9cR-hsOJ2J5y7e_TicV0kqq4Rw</string>
	<key>GCM_SENDER_ID</key>
	<string>970340898687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thomasviana.mofi</string>
	<key>PROJECT_ID</key>
	<string>mofi-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>mofi-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970340898687:ios:e251f1c44240f0185eac4a</string>
</dict>
</plist>